{%extends 'ttsx_goods/base.html'%}

{%block detail%}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{t1.ttitle}}</a>
	</div>
{%endblock detail%}

{%block right%}
		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list{{tid}}_{{pindex}}_1/" {%if orderby = '1'%}class="active"{%endif%}>默认</a>
				<a href="/list{{tid}}_{{pindex}}_2/?desc={%if desc = 1%}2{% else %}1{%endif%}" {%if orderby = '2'%}class="active"{%endif%}>价格</a>
				<a href="/list{{tid}}_{{pindex}}_3/" {%if orderby = '3'%}class="active"{%endif%}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{%for goods in page%}
				<li>
					<a href="/{{goods.id}}/"><img src="/static/{{goods.gpic}}"></a>
					<h4><a href="/{{goods.id}}/">{{goods.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{goods.gprice}}</span>
						<span class="unit">{{goods.gprice}}/{{goods.gunit}}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}
			</ul>

			<div class="pagenation">
				{%if page.has_previous%}
				<a href="/list{{t1.id}}_{{page.number|add:-1}}_{{orderby}}/?desc={{desc}}"><上一页</a>
				{%endif%}

				{%for pindex in page_range%}
				{%if pindex == page.number%}
				<a href="#" class="active">{{pindex}}</a>
				{%else%}
				<a href="/list{{t1.id}}_{{pindex}}_{{orderby}}/?desc={{desc}}">{{pindex}}</a>
				{%endif%}
				{%endfor%}

				{%if page.has_next%}
				<a href="/list{{t1.id}}_{{page.number|add:1}}_{{orderby}}/?desc={{desc}}">下一页></a>
				{%endif%}

			</div>
		</div>
{%endblock right%}